page-home {

}

.part-history-row{
	border-bottom: solid 1px #000;
	padding: 5px;
}
.part-history-row-div{
	width:100%;
	padding: 2px;
}

 ion-icon {
        font-size: 60px; //Preferred size here
    }